@using BoredAPI.Models;
@model Activity;


    
<div class="card w-50 mx-auto">
<div class="card-header">
    Result
</div>       
<div class="card-body p-5">
    <h2>@Model.activity</h2>
</div>
<div class="card-footer">
        <a href="@Url.Action("Index", "Home")" class="btn btn-danger">Back to home</a>
</div>

</div>


<!--<script async src="https://cse.google.com/cse.js?cx=226397d7d49214c05"></script>
<div class="gcse-searchresults-only">
    <gcse:searchbox query="@Model.activity"></gcse:searchbox>
</div>-->
