@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="card w-50 mx-auto">
    <div class="card-header">
        Result
    </div>
    <div class="card-body p-5">
        <h2>No results from the API :-(</h2>
    </div>
    <div class="card-footer">
        <a href="@Url.Action("Index", "Home")" class="btn btn-danger">Back to home</a>
    </div>

</div>
